
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";

    System.Data.DataSet ds = new System.Data.DataSet();
    if (ViewData["dsData"] != null)
    {
        ds = ViewData["dsData"] as System.Data.DataSet;
    }
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("index", "dashboard" , new { area= "admin" })">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Employee</li>
</ol>

<!-- Page Content -->
<h1>Employee Master</h1>

<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-12 col-sm-12 mb-3">
        <div id="form1" class="card-body">
        @if (ds != null && ds.Tables.Count > 1)
        {
            <div class="row clearfix">
                <div class="content-heading">
                    <a href="javascript:void(0)" class="glyphicon-expand"><span>+</span></a>Professional Information
                </div>
                <div class="mycontainer col-lg-12">
                    <div class="col-lg-12 form-group form-row"></div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="sltCompany">Company<span class="req">*</span></label>
                                <span>
                                    <select id="sltCompany" class="form-control required" autofocus="autofocus">
                                        <option value="0">Select</option>
                                        @foreach (System.Data.DataRow dr in ds.Tables[0].Rows)
                                        {
                                            <option value="@dr[0]" data-child="@dr[2]">@dr[1]</option>
                                        }
                                    </select>
                                </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="sltRole">Role<span class="req">*</span></label>
                                <span>
                                    <select id="sltRole" class="form-control required">
                                        <option value="0">Select</option>
                                        @foreach (System.Data.DataRow dr in ds.Tables[1].Rows)
                                        {
                                            <option value="@dr[0]">@dr[2]</option>
                                        }
                                    </select>
                                </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="txtEmployeeCode">Employee Code<span class="req">*</span></label>
                                <span><input type="text" id="txtEmployeeCode" class="form-control required" placeholder="Employee Code" /></span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="txtEmployeePassword">Password<span class="req">*</span></label>
                                <span><input type="text" id="txtEmployeePassword" class="form-control required" placeholder="Password" /></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-3">
                                <label for="inputEmail">Email Id</label>
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email Id" />
                            </div>
                            <div class="col-md-3">
                                <label for="inputPhone">Phone No</label>
                                <input type="text" id="inputPhone" class="form-control" placeholder="Phone No" />
                            </div>
                            <div class="col-md-3">
                                <label for="inputDOJ">DOJ<span class="req">*</span></label>
                                <input type="date" id="inputDOJ" class="form-control required" />
                            </div>
                            <div class="col-md-3">
                                <label for="inputDept">Department Name<span class="req">*</span></label>
                                <span>
                                    <select id="inputDept" class="form-control required">
                                        <option value="0">Select</option>
                                        @foreach (System.Data.DataRow dr in ds.Tables[2].Rows)
                                        {
                                            <option value="@dr[0]">@dr[2]</option>
                                        }
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row clearfix">
                <div class="content-heading">
                    <a href="javascript:void(0)" class="glyphicon-expand"><span>+</span></a>Personal Information
                </div>
                <div class="mycontainer col-lg-12">
                    <div class="col-lg-12 form-group form-row"></div>
                    <div class="row">
                        <div class="col-xl-6 col-sm-6">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-xl-6 col-sm-6 col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label-group">
                                                <input type="text" id="inputEmployeeName" class="form-control required" placeholder="Employee Name" />
                                                <label for="inputEmployeeName">Employee Name</label>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-sm-6 col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-label-group">
                                                <input type="text" id="inputFatherName" class="form-control" placeholder="Father Name" />
                                                <label for="inputFatherName">Father Name</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-xl-12 col-sm-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-label-group">
                                                <input type="text" id="inputAddress" class="form-control required" placeholder="Address" />
                                                <label for="inputAddress">Address</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-xl-6 col-sm-6 col-lg-6 col-md-6 col-sm-12">
                                            <label for="inputDOB">DOB</label>
                                            <input type="date" id="inputDOB" class="form-control required" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="chkActive" value="1" checked="checked" />
                                                    Active
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-sm-6">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-xl-6 col-sm-6 col-lg-6 col-md-6 col-sm-12">
                                        @*<label for="sltMaritalStatus">MaritalStatus</label>*@
                                        <span>
                                            <select id="sltMaritalStatus" class="form-control required">
                                                <option value="0">Select Marital Status</option>
                                                <option value="Single">Single</option>
                                                <option value="Married">Married</option>
                                                <option value="Divorced">Divorced</option>
                                                <option value="Widowed">Widowed</option>
                                            </select>
                                        </span>
                                    </div>

                                    <div class="col-xl-6 col-sm-6 col-lg-6 col-md-6 col-sm-12">
                                        @*<label for="sltBloodGroup">Blood Group</label>*@
                                        <span>
                                            <select id="sltBloodGroup" class="form-control">
                                                <option value="">Select Blood Group</option>
                                                <option value="A+">A+</option>
                                                <option value="A-">A-</option>
                                                <option value="B+">B+</option>
                                                <option value="B-">B-</option>
                                                <option value="O+">O+</option>
                                                <option value="O-">O-</option>
                                                <option value="AB+">AB+</option>
                                                <option value="AB-">AB-</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-xl-6 col-sm-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-label-group">
                                            <input type="text" id="inputPANNo" class="form-control" placeholder="PAN No" />
                                            <label for="inputPANNo">PAN No</label>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-sm-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-label-group">
                                            <input type="text" id="inputAadharNo" class="form-control" placeholder="Aadhar No" />
                                            <label for="inputAadharNo">Aadhar No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-xl-12 col-sm-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-label-group">
                                            <input type="text" id="inputRemark" class="form-control" placeholder="Remark" />
                                            <label for="inputRemark">Remark</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-2">
                        <input id="btnSave" type="submit" data-action="INSERT" value="Save" class="btn rounded-btn btn-block" />
                    </div>
                    <div class="col-md-2">
                        <input id="btnCancel" type="button" value="Cancel" class="btn rounded-btn btn-block" />
                    </div>
                </div>
            </div>
        }
            
        </div>
    </div>
</div>


<script type="text/javascript">
    var isshowList = 0;
</script>
<script src="@Url.Content("~/Scripts/masterjs/employee.js")"></script>




