
@{
    ViewBag.Title = "State Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("index", "dashboard" , new { area= "admin" })">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">State</li>
</ol>

<!-- Page Content -->
<h1>State Master</h1>
<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-5 col-sm-6 mb-3">
        <div id="form1" class="card-body">
            <div class="form-group">
                <div class="form-label-group">
                    <input type="text" id="txtCode" class="form-control required" placeholder="State Code" autofocus="autofocus">
                    <label for="txtCode">State Code</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <input type="text" id="txtName" class="form-control required" placeholder="State name">
                    <label for="txtName">State Name</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <input type="text" id="txtRemarks" class="form-control" placeholder="Remarks">
                    <label for="txtRemarks">Remarks</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="chkActive" value="1" checked="checked">
                        Active
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <input id="btnSave" type="submit" data-action="INSERT" value="Save" class="btn rounded-btn btn-block" />
                        @*<input id="btnUpdate" type="submit" data-action="UPDATE" value="Update" class="btn rounded-btn btn-block hide" />*@
                    </div>
                    <div class="col-md-6">
                        <input id="btnCancel" type="button" value="Cancel" class="btn rounded-btn btn-block" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script language="javascript" type="text/javascript">
    //var stateList = ("@ViewBag.DefaultStates" != null && "@ViewBag.DefaultStates" != "") ? "@ViewBag.DefaultStates" : "0";

    var stateList = "@ViewBag.DefaultStates";
</script>
<script src="@Url.Content("~/Scripts/masterjs/state.js")"></script>


